body {
  font-family: Arial, helvetica, sans-serif;
}

.active { color: red; font-weight: bold; }

.flex-h {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.people {
  width: 30%;
  ul {
    list-style: none;
    padding: 0.1em 0;
  }
}
